@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(235, 250, 250);
  background-image: 
    linear-gradient(to top, #fff 2px, transparent 2px),
    linear-gradient(to right, #fff 2px, transparent 2px);
  background-size: 40px 40px;
  gap: 20px;
  height: 100vh;
  background-position: center;
}

textarea {
  width: 600px;
  height: 450px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0,0, 0, 0.1);
  resize: none;
  overflow: scroll;
}

textarea:hover {
  box-shadow: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button,
input[type="file"]::file-selector-button {
  background: darkcyan;
  color: #1ff;
  border: none;
  padding: 8px 0px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  transition: background-color 0.3s ease;
}
input[type="file"]::file-selector-button {
  width: 101px;
}

button:hover,
input[type="file"]::file-selector-button:hover {
  background: rgb(10, 107, 120);
}

#jsonViewer {
  width: 600px;
  height: 450px;
  line-height: 1.5;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  overflow: scroll;
  font-size: 14px;
}

.collapsible {
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

.collapsible::before {
  content: "▶";
  color: #555;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  line-height: 1;
  padding-right: 5px;
}

.collapsible.collapsed::before {
  content: "▼";
}

.hidden {
  display: none;
}

.key {
  color: rgb(2, 109, 109);
  font-weight: bold;
}

.string {
  color: rgb(2, 188, 188);
}

.number {
  color: deeppink;
}

.object {
  margin-left: 15px;
}

.array {
  margin-left: 15px;
}

.unknown {
  color: #555;
}

@media screen and (max-width: 1350px) {
  body {
    flex-direction: column;
    padding: 30px;
  }
}